.container {
  background-color: white;
  width: 100%;
  height: 5cqmin;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.titleContainer {
  width: 8%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.img {
  width: 22%;
}

.titleContainer > h2 {
  font-size: 1.7rem;
}

.tabsContainer {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  color: rgb(58, 64, 75);
}

.home,
.Quote,
.Restaurants,
.Foods,
.Contact {
  cursor: pointer;
}

.home:hover,
.Quote:hover,
.Restaurants:hover,
.Foods:hover,
.Contact:hover {
  color: rgb(29, 78, 216);
}

.btn {
  padding: 0.6rem 1.5rem;
  border-radius: 0.3rem;
  border: none;
  background-color: rgb(29, 78, 216);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.1s;
  letter-spacing: 0.05rem;
}

.btn:hover {
  background-color: rgb(37, 99, 235);
}
