.container {
  background-color: rgb(243, 244, 246);
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.logoipsum {
  width: 10%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paraContainer {
  height: 16%;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: rgb(136, 142, 153);
  font-size: 1.1rem;
}

.optionsContainer {
  width: 33%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
  color: rgb(85, 95, 107);
}

.optionsContainer > p {
  cursor: pointer;
}

.optionsContainer > p:hover {
  color: rgb(136, 142, 153);
}

.iconContainer {
  height: 13%;
  width: 15%;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(55, 65, 80);
}

.iconContainer > ion-icon {
  cursor: pointer;
}

.iconContainer > ion-icon:hover {
  color: rgb(136, 142, 153);
}
