.container {
    width: 100%;
    height: 95%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 5rem 1rem;
}

.leftContainer {
    height: 70%;
    width: 35%;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h4 {
    font-size: 1.1rem;
}

h1 {
    font-size: 2.3rem;
}

p {
    font-size: 1.1rem;
    font-weight: lighter;
    color: rgb(84, 84, 84);
    line-height: 1.7rem;
    letter-spacing: 0.04rem;
}

.details {
    height: 60%;
}

.locationBox,
.phoneBox,
.email {
    width: 50%;
    height: 30%;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    margin-top: 1rem;
}

ion-icon {
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.rightBox {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.rightContainer {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    border-radius: 0.7rem;
    height: 75%;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0rem 1.5rem;
}

input,
textarea {
    border: 1px solid rgb(217, 216, 216);
    border-radius: 0.3rem;
    padding: 1rem 1rem;
    font-size: 1.08rem;
    cursor: pointer;
}

input:focus{
    outline: none;
}

input::placeholder, textarea::placeholder{
    color:rgb(173, 169, 169) ;
    letter-spacing: .03rem;
}

textarea {
    height: 25%;
}

textarea:focus{
    outline: none;
}

.submitBtn{
    width: 20%;
    height: 7%;
    border-radius: .2rem;
    font-size: 1.1rem;
    border: none;
    background-color: rgb(29,78,216);
    color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    transition: background-color .2s;
    letter-spacing: .03rem;
}

.submitBtn:hover{
   background-color: rgb(37, 99, 235);;
}