.container{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.contentContainer{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.box1,.box2, .box3{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 31%;
}

.feedbackContainer{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.box{
    background-color: rgb(249,250,251);
    border-radius: .5rem;
    padding: 1.2rem 1.3rem;
    font-size: 1.05rem;
    color: rgb(105,113,124);
    font-size: 1rem;
    letter-spacing: .03rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.user{
    display: flex;
    align-items: center;
    padding: .2rem 1rem;
    margin-top: 1rem;
}

.user > img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.details{
    height: 85%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.position{
    color: rgb(81,81,81);
    font-weight: lighter;
    font-size: 1rem;
}

