*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}

body{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#root{
  height: 100%;
  width: 100%;
}