.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentContainer {
  height: 95%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  position: relative;
}

.img {
  height: 92%;
  width: 50%;
  object-fit: cover;
  position: absolute;
  right: 50%;
  z-index: 2;
}

.infoContainer {
  background-color: rgb(243, 244, 246);
  height: 100%;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 45%;
  z-index: 1;
}

.content {
  margin-left: 4rem;
  height: 40%;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 1rem 1.2rem;
}

.content > h1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.5rem;
}

.content > p {
  font-size: 1.2rem;
  color: rgb(98, 107, 123);
  font-weight: 100;
  line-height: 1.5rem;
}

.btn {
  width: 170px;
  height: 45px;
  font-size: 1.1rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: background-color 0.1s;
  color: white;
  background-color: rgb(79, 70, 229);
  border-radius: 0.3rem;
  cursor: pointer;
}

.btn:hover {
  color: rgb(79, 70, 229);
  background-color: transparent;
  border: 1px solid rgb(79, 70, 229);
}
